* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('resources/pup-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.container {
    width: 80%;
    height: 80%;
    background: white;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.left {
    width: 50%;
    padding: 80px 60px;
    background: linear-gradient(180deg, #8b0000, #4b0000);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.brand {
    font-size: 45px;
    font-weight: bold;
}

.subtitle {
    margin-top: 10px;
    opacity: 0.9;
}


.right {
    width: 50%;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h2 {
    font-size: 32px;
    color: #4b0000;
}

.right p {
    color: #444;
    margin-bottom: 20px;
}

.right input {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #bbb;
    border-radius: 30px;
    outline: none;
    transition: .3s;
}

.right input:focus {
    border-color: maroon;
}

.login-btn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: maroon;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

.login-btn:hover {
    background: #a00000;
}

/* PUP Alert */
.pup-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    z-index: 9999;
}

.pup-alert-box {
    background: #800000;
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.pup-alert-box h3 {
    margin: 0 0 10px;
    font-size: 22px;
    font-weight: bold;
}

.pup-alert-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.pup-alert-btn {
    background: #ffffff;
    color: #800000;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.pup-alert-btn:hover {
    background: #e6e6e6;
}

